$grid-gap: 2.5rem;
// <main> element
.mainContainer {
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
}
.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  top: 0;
  height: 60px;
  margin: 0 auto;
  padding: 0 24px;
  transition: height 0.2s ease-in-out;
  z-index: 9999;
}
// Posts
.posts {
  display: grid;
  width: 100%;
  gap: $grid-gap;
  // padding: 0 2rem;
}
@media screen and (min-width: 1280px) {
  .mainContainer {
    max-width: 1280px;
  }
  .header {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1020px) {
  .sectionContainer {
    display: grid;
    grid-template-columns: 220px auto;
    gap: $grid-gap;
  }
  .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 800px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 600px) {
  .mainContainer {
    width: 88vw;
    max-width: 1392px;
    padding: 0;
  }
  .header {
    width: 88vw;
    max-width: 1392px;
    padding: 0;
  }
}
.sectionContainer {
  margin-top: 0.5rem;
}

.header.scrolled {
  height: 40px;
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  min-height: 32px;

  picture {
    display: flex;
    align-items: center;
  }
  .imglogo {
    margin-right: .5rem;
  }
  .textlogo {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
}

// Footer
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
