
@media screen and (min-width: 1280px) {
  .mainContainer {
    max-width: 1280px;
  }
}
@media screen and (min-width: 600px) {
  .mainContainer {
    width: 88vw;
    max-width: 1392px;
    padding: 0;
    margin: 0 auto;
  }
}

.sectionContainer {
  margin-top: 0.5rem;
}
@media screen and (min-width: 1020px) {
  .sectionContainer {
    display: grid;
    grid-template-columns: 200px auto; // 220px auto
  }
  .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  transition: height 0.2s ease-in-out;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 8px 2rem;
  height: 60px;
  background-color: #fff;
}
.header.scrolled {
  height: 40px;
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  min-height: 32px;

  picture {
    display: flex;
    align-items: center;
  }
  .imglogo {
    margin-right: .5rem;
  }
  .textlogo {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
}
.aside {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #222222;
  padding: 2rem 0.5rem;
  color: #ddd;
  min-width: 300px;
  max-width: 300px;
}

// Main container
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Footer
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

// Posts
.posts {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}
